{% extends 'blog/base.html' %}

{% block content %}

<div class="container loader" style="margin-left: 1,5em;">
    <h2 class='loader'><a disabled>About Blog</a></h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis repellendus velit sunt harum recusandae voluptas suscipit ad nam beatae, obcaecati, eveniet porro, dignissimos nisi quidem veniam distinctio ratione iure quis corporis illo dolores ex vel. Suscipit, omnis in nesciunt ducimus consectetur expedita nostrum odio veniam cum reprehenderit soluta ipsam illum illo atque iusto adipisci nobis, excepturi sunt repellendus. Alias atque deserunt repudiandae molestias necessitatibus? Repellat minus quis quam omnis vitae maxime quasi libero ratione, inventore sapiente dolorem exercitationem cum aut voluptatum laudantium, ad perferendis architecto beatae, tempora debitis sint doloremque rerum nulla voluptatibus. A nulla aliquam facere doloremque sint unde.</p>
</div>
{% endblock content %}